version: "3.8"
services:
  api:
    build: .
    image: home-automation-api
    environment:
      DEBUG: "false"
    ports:
        - "8000:8000"
    volumes:
        - "./database/:/home-automation/database/"
        - "./logs/:/home-automation/logs/"
